* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Playfair Display", sans-serif;
  background-color: black;
}

header {
  border-radius: 3rem;
  background-image: linear-gradient(
      rgba(34, 34, 34, 0.6),
      rgba(34, 34, 34, 0.6)
    ),
    url(/public/img/hatternagy.jpg);
}

@media (max-width: 610px) {
  header {
    background-image: linear-gradient(
        rgba(34, 34, 34, 0.6),
        rgba(34, 34, 34, 0.6)
      ),
      url(/public/img/hatterkicsi.jpg);
    background-position: center;
  }
}

#About,
#Project {
  background: linear-gradient(rgba(34, 34, 34, 0.6), rgba(179, 149, 120, 0.6));
}
